<?xml version="1.0" encoding="utf-8"?>
<settings>
  <theme>
    <name>Vidiun_theme</name>
    <predefined>false</predefined>
    <baseTheme>Tabs</baseTheme>
    <baseVersion>1.11.3</baseVersion>
  </theme>
  <pageHeader>
    <logoImage>images/vidiun_logo_transparent_large.png</logoImage>
  </pageHeader>
  <topic>
    <applyStylesheet>true</applyStylesheet>
  </topic>
</settings>